body{
    scroll-behavior: smooth;
    background-color: rgb(192, 227, 227);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(10, 103, 103);
}
h1{
    text-align: center;
    margin-bottom: 0%;
}
p{
    width: 90%;
    margin: auto;
}
abbr{
    
    text-decoration: none;
}
hr{
    width: 50%;
    margin-top: 0%;
}
table{
    border-collapse: collapse;
    text-align: center;
    width:70%;
    margin: auto;
}
thead{
    background-color: rgb(12, 103, 103);
    color: aliceblue;
}
tr:nth-child(even){
    background-color: rgb(30, 172, 172);
}
tr:hover{
    background-color: rgb(12, 103, 103);
    color: aliceblue;
}
marquee{
    background-color: rgb(12, 103, 103);
    color: aliceblue;
}
abbr:hover{
    color: blue;
}